<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>

<body>
  <nav>
    <%- include('../partials/nav') %>
  </nav>
  <header>
    <%- include('../partials/header') %>
  </header>

  <main>
    <%- body %>  <!-- Dynamic content from the view goes here -->
  </main>

  <footer id="footer" class="text-center">
    <%- include('../partials/footer') %>
  </footer>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous">
  </script>
</body>
</html>